<table>
    <thead>
      <tr class="headme">
        <td>name</td>
        <td>gender</td>
        <td>age</td>
  
        <td>salary</td>
        <td>Load eligibility</td>
        <td>DOJ</td>
      </tr>
    </thead>
    <tbody class="tbody">
      <ng-container *ngFor="let emp of employees">
      <tr>
        <td>{{ emp.name | gch: emp.gender }}</td>
        <td>{{ emp.gender }}</td>
        <td>{{ emp.age }}</td>
        <td>{{ emp.salary | currency: "USD":true }}</td>
        <td>{{ emp.salary | salaryupdate }}</td>
  
        <td>{{ emp.DOJ | date: "fullDate" }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>